<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I help artists and socially responsible organizations build their online presence.</p>
      </div>
      <div class="col-lg-4">
        <p>My work covers social media, branding, and community management.  You can find me on Twitter, Instagram, and Discord.</p>
      </div>
    </div>
  </div>
</section>
